# Laboratorio: NumPy y Pandas con Datos de Argentina

Este notebook resuelve paso a paso las consignas del laboratorio.

In [1]:
import numpy as np
import pandas as pd

# Dataset de ejemplo: Ciudades de Argentina
ciudades = {
    "Ciudad": ["Buenos Aires", "Córdoba", "Rosario", "Mendoza", "La Plata"],
    "Provincia": ["CABA", "Córdoba", "Santa Fe", "Mendoza", "Buenos Aires"],
    "Poblacion_miles": [3070, 1390, 1170, 937, 740],
    "Año_fundacion": [1580, 1573, 1689, 1561, 1882]
}

df = pd.DataFrame(ciudades)
df

         Ciudad     Provincia  Poblacion_miles  Año_fundacion
0  Buenos Aires          CABA             3070           1580
1       Córdoba       Córdoba             1390           1573
2       Rosario      Santa Fe             1170           1689
3       Mendoza       Mendoza              937           1561
4      La Plata  Buenos Aires              740           1882

## Parte 1: NumPy

In [2]:
# 1. Crear un array con las poblaciones
poblaciones = np.array(df["Poblacion_miles"])
poblaciones

array([3070, 1390, 1170,  937,  740])

In [3]:
# 2. Calcular media, mediana y desviación estándar
media = np.mean(poblaciones)
mediana = np.median(poblaciones)
desv = np.std(poblaciones)
media, mediana, desv

(1461.4, 1170.0, 833.4289651793966)

In [4]:
# 3. Array con años de fundación
anios = np.array(df["Año_fundacion"])
anios

array([1580, 1573, 1689, 1561, 1882])

In [5]:
# 4. Ciudad más antigua y más reciente
indice_mas_antigua = np.argmin(anios)
indice_mas_reciente = np.argmax(anios)
df.loc[indice_mas_antigua, ["Ciudad", "Año_fundacion"]], df.loc[indice_mas_reciente, ["Ciudad", "Año_fundacion"]]

(Ciudad           Mendoza
 Año_fundacion       1561
 Name: 3, dtype: object,
 Ciudad           La Plata
 Año_fundacion        1882
 Name: 4, dtype: object)

## Parte 2: Pandas

In [6]:
# 2. Población total
df["Poblacion_miles"].sum()

7307

In [7]:
# 3. Ordenar por población
df.sort_values(by="Poblacion_miles", ascending=False)

         Ciudad     Provincia  Poblacion_miles  Año_fundacion
0  Buenos Aires          CABA             3070           1580
1       Córdoba       Córdoba             1390           1573
2       Rosario      Santa Fe             1170           1689
3       Mendoza       Mendoza              937           1561
4      La Plata  Buenos Aires              740           1882

In [8]:
# 4. Filtrar ciudades fundadas antes de 1600
df[df["Año_fundacion"] < 1600]

         Ciudad Provincia  Poblacion_miles  Año_fundacion
0  Buenos Aires      CABA             3070           1580
1       Córdoba   Córdoba             1390           1573
3       Mendoza   Mendoza              937           1561

In [9]:
# 5. Exportar a CSV
df.to_csv("ciudades_arg.csv", index=False)
print("Archivo 'ciudades_arg.csv' exportado correctamente.")

Archivo 'ciudades_arg.csv' exportado correctamente.